html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background-color: gray;
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  margin: 0;
  background: url(../images/image-assets/gass.png);
  background-size: cover;
}

nav {
  margin: 10px;
  font-size: 3.0rem;
  display: flex;
  justify-content: center;
}

nav > div > a {
  justify-content: center;
  margin: 20px;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  color: white
}

#nav-a {
  margin-top: 30px;
  margin-left: auto;
  justify-content: right;
}


nav > div > a:visited {
  color: white;
}

nav > div > a:hover {
  color: #495057;
}

nav > div > a.active {
  color: aqua;
  font-size: 3.0rem;
}

#main-title {
  color:  black;
  text-decoration: none;
  font-size: 6.5rem;
  font-family: 'Lusitana', serif;
  position: absolute;
  justify-self: center;
  margin-top: 20px;
  width: 500px;
}

#title-anchor {
  position: absolute;
  margin-right: 500px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.h1-title {
  font-family: 'Arima', cursive;
  padding: 10px;
  font-size: 50px;
  color: aqua;
  background-color: #495057;
  border: solid grey;
}

#card-container {
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr) ;
  width: 100%;
}

.card {
  border: solid grey;
  background-color: #495057;
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35rem;
  height: 30rem;
}

.card-body {
  align-self: center;
}

.card-text {
  padding: 15px;
  border: 3px solid grey;
  font-size: 20px;
  color: white;
}

#card-title {
  color: white;
  font-size: 50px;
  margin-top: 10px;
}

#card-subtitle {
  display: flex;
  flex-direction: column;
}

#card-a {
  text-decoration: none;
  color: black;
}

#nav-profile-img {
  border-radius: 50%;
  margin-right: 50px;
  border: solid 6px black
}

#nav-profile-img:hover {
  border-color: #495057;
}

#logout-btn {
  border: solid black;
  margin-top: 20px;
  border-radius: 15px;
  padding: 10px;
}

#logout-btn:hover {
  background-color: #495057;
  color: white;
}

#new-lfg-form, #edit-lfg-form, #add-game-form {
  margin-top: 100px;
  background-color: #495057;
  padding: 40px;
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 30px;
  border: solid grey;
  border-radius: 15px;
}

#lfg-content {
  margin: 20px 0px;
}

#playerNum {
  text-align: center;
}

#lfg-title, #lfg-content, #playerNum, #lfg-submit-btn, #game-select {
  border: solid grey;
}

#profile-div {
  border: solid grey;
  margin-top: 50px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  background-color: #495057;
  font-size: 30px;
  color: white;
}

#profile-div-img {
  border: solid 6px grey;
  border-radius: 50%;
  width: 100px;
}

#steam-display {
  color: aqua;
  border: solid grey;
  padding: 10px;
}

.show-view {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-items: center;
  background-color: #495057;
  color: white;
  font-size: 30px;
  padding: 25px;
  border: solid grey;
}

#playerNo-display, #game-display, #owner-display, #lfg-description {
  color: black;
  background-color: white;
  border: solid grey;
}

.show-view > div {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.show-view > div > div {
  margin-left: 10px;
  padding: 0px 15px;
} 

.show-view > form > button, .show-view > a > button  { 
  background-color: lightgrey;
  border: solid black;
  border-radius: 10px;
  margin: 5px;
}

h3 {
  margin: 15px;
}

#delete-button {
  font-size: 30px;
  background-color: lightgrey;
  border: solid black;
  border-radius: 10px;
  margin: 5px;
}

#game-title-input, #add-game-btn {
  margin: 10px 0px;
  border: solid grey;
}

@media only screen and (max-width: 1024px) {
  #title-anchor {
    margin-top: 100px;
    margin-right: 500px;
  }
  #main-title{
    text-align: center;
    font-size: 50px;
    background-color: #495057;
    color: white;
    border: solid grey;
  }
  .card {
    border: solid grey;
    background-color: #495057;
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35rem;
    height: 30rem;
  }
  .h1-title {
    margin-top: 100px;
  }
  #card-container {
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    width: 100%;
  }
  .card-text {
    padding: 15px;
    border: 3px solid grey;
    font-size: 20px;
    color: white;
  }

  #card-title {
    color: white;
    font-size: 25px;
    margin-top: 10px;
  }

  #card-subtitle {
    display: flex;
    flex-direction: column;
  }
}